* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.databasic{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.exercise {
    display: flex; /* Usar flexbox para centrar contenido */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    height: 100%;
    width: 100%;
    position: relative; /* Para posicionar el texto de carga sobre la imagen de fondo */
}

.background-image {
    position: absolute; /* Hacer que el fondo ocupe toda el área */
    top: 0px;
    left: 0px;
    width: calc(100vw);
    height: calc(100vh);
    background-image: url(/img/2.jpg); /* Puedes reemplazar esto con una imagen de fondo */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    filter: blur(0px);
}

.loading {
    font-size: 50px;
    color: #fff;
    z-index: 1; /* Asegura que el texto de carga esté sobre la imagen de fondo */
}
